body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  font-family: "JetBrains Mono", serif;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.custom-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: rgb(201, 178, 136);
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.btn-cart-add {
  margin-left: 10px;
  transform: translateY(-10px);
  display: inline-block; 
}

.user {
  font-weight: bold;
  margin-left: 5px;
}

.pag {
  margin-bottom: 100px;
  z-index: 0;
}

.main-title {
  color: black; 
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 768px) { /* Для мобильных устройств */
  .main-title {
      color: beige; /* Меняем цвет на бежевый */ 
  }
}

.tran {
  color: white; 
  transition: color 0.3s ease;
}

.tran:hover {
  color: rgb(201, 178, 136);
}

.mb-large {
  margin-bottom: 100px;
}








/* По умолчанию (для мобильных устройств) */
.position-responsive {
  position: static; /* Элементы не фиксированы */
  margin-bottom: -110px;
  padding-top: 5px;
  padding-bottom: 25px;
  margin-left: -15px;
  width: 100%; /* Ширина контейнера для мобильных устройств */
  z-index: 1;
}

/* Для планшетов и ПК (≥768px) */
@media (min-width: 768px) {
  .position-responsive {
      position: fixed; /* Фиксированное расположение для больших экранов */
      
      z-index: 1030; /* Гарантия поверх других элементов */
  }
}

button.btn.btn-secondary.dropdown-toggle {
  position: relative; /* Убедимся, что z-index работает */
  z-index: 1040; /* Установим выше любых фиксированных элементов */
  pointer-events: auto; /* Разрешаем взаимодействие с элементом */
}





/* Базовые стили для кнопки */
.filter-btn {
  position: relative; /* Для корректной работы с z-index */
  z-index: 1040; /* Убедимся, что кнопка поверх других элементов */ /* Отступ сверху */
  margin-left: 0; /* Чтобы не было сдвига по горизонтали */
}

/* Для мобильных устройств */
@media (max-width: 767px) {
  .filter-btn {
      position: absolute; /* Фиксируем кнопку в правом углу */
      right: -230px; /* Отступ справа */
      top: 0; /* Отступ сверху */
  }
}