body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  font-family: "JetBrains Mono", serif;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.custom-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: rgb(201, 178, 136);
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

.btn-cart-add {
  margin-left: 10px;
  transform: translateY(-10px);
  display: inline-block; 
}

.user {
  font-weight: bold;
  margin-left: 5px;
}

.pag {
  margin-bottom: 100px;
  z-index: 0;
}

.main-title {
  color: black; 
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 768px) { /* Для мобильных устройств */
  .main-title {
      color: beige; /* Меняем цвет на бежевый */ 
  }
}

.tran {
  color: white; 
  transition: color 0.3s ease;
}

.tran:hover {
  color: rgb(201, 178, 136);
}

.mb-large {
  margin-bottom: 100px;
}








/* По умолчанию (для мобильных устройств) */
.position-responsive {
  margin-bottom: -110px;
  padding-top: 5px;
  padding-bottom: 25px;
  margin-left: -15px;
  width: 100%; /* Ширина контейнера для мобильных устройств */
  position: relative; /* Убедимся, что z-index работает */
  z-index: 1040; /* Установим выше любых фиксированных элементов */
  pointer-events: auto; /* Разрешаем взаимодействие с элементом */
}

/* Для планшетов и ПК (≥768px) */
@media (min-width: 768px) {
  .position-responsive {
      position: fixed; /* Фиксированное расположение для больших экранов */
      
      z-index: 1030; /* Гарантия поверх других элементов */
  }
}



#jq-notification {
  z-index: 1098 !important; /* Bootstrap использует значения до 1099 */
}

.drp-menu {
  z-index: 1050 !important;
}


button.btn.btn-secondary.dropdown-toggle {
  position: relative; /* Убедимся, что z-index работает */
  z-index: 1040; /* Установим выше любых фиксированных элементов */
  pointer-events: auto; /* Разрешаем взаимодействие с элементом */
}


/* Базовые стили для кнопки */
.filter-btn { /* Убедимся, что кнопка поверх других элементов */ /* Отступ сверху */
  margin-left: 0;
}

/* Для мобильных устройств */
@media (max-width: 767px) {
  .filter-btn { /* Фиксируем кнопку в правом углу */  
      right: -230px; /* Отступ справа */
      top: 0; /* Отступ сверху */
  }
}










/* Для мобильных устройств */
@media (max-width: 767px) {
  .mt-10 {
      margin-top: 70px; /* Устанавливаем отступ сверху */
  }
}

/* Для мобильных устройств */
@media (max-width: 767px) {
  .mt-mobile {
      margin-top: 30px; /* Отступ сверху для мобильных устройств */
  }
}

/* Для мобильных устройств */
@media (max-width: 767px) {
  .mt-order {
      margin-top: 70px; /* Отступ сверху для мобильных устройств */
  }
} 

.total-price {
  margin-top: 10px;
  display: block;
}



/* Дополнительные стили для кнопки */
.accordion-button span {
  display: inline-block;
}

.accordion-button strong {
  display: block;
  margin-top: 5px; /* Отступ сверху для статуса */
}



/* Статус на новой строке, по центру */
.order-status {
  display: block;
  margin-top: 5px; /* Отступ сверху для статуса */
 /* Выравнивание текста по центру */
  width: 100%; /* Статус займет всю доступную ширину */
}




.author {
  color: white; 
  transition: color 0.3s ease; 
}

.author:hover {
  color: rgb(201, 178, 136);
}

.mb-edit {
  margin-bottom: 30px;
}



/* Уменьшаем высоту плашки ошибки */
.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding-top: 15px;
  padding-bottom: 0;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;  /* Уменьшаем размер шрифта, если нужно */
}

.btn-close {
  pointer-events: auto; /* Разрешить клик */
}
