body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gotham Pro', Arial, sans-serif;
}

/* ПЛАВНОЕ ПОЯВЛЕНИЕ ОБЪЕКТОВ НА САЙТЕ */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
}


/* ШАПКА */
.header {
    background-color: #ffffff;
    padding: 40px 40px;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 5px;
}

.nav a:hover {
    color: #666666;
}

.down-arrow {
    color: #000000;
    position: relative;
    right: 0; 
    margin-top: 4px;
    width: 15px;           
    height: 15px;          
}

.down-arrow img {
    max-width: 100%;       
    max-height: 100%; 
}

.search-container {
    display: flex;
    align-items: center;
    background: #eee;
    border-radius: 30px;
    padding: 8px 15px;
    width: 500px;
    height: 30px;
    border: 2px solid transparent; 
    margin-right: 10px;
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    opacity: 0.6;
}

.search-input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    color: #555;
}

.search-input::placeholder {
    color: #aaa;
}
  
.search-container:focus-within {
    border-color: black;
}

.icon-link {
    display: inline-block; 
}

.icon-link svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-right: 5px;
    transition: fill 0.3s ease; 
}

.icon-link:hover svg path {
    fill: gray; 
}


.page-wrapper {
    padding-bottom: 50px;
}

.profile-container {
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: hsl(220, 37%, 8%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-title {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
}

.profile-sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
}




/* ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ */
.profile-card {
    background: white; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card h3 {
    margin-bottom: 15px;
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details p {
    margin: 5px 0;
}

.edit-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background: #0056b3;
}

.cart .cart-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}


.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.avatar-container {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.error {
    color: red;
    font-size: 0.875em;
}

.submit-btn {
    margin-top: 10px;
    background-color: #000000; 
    color: white; 
    font-size: 14px; 
    font-weight: 600; 
    border: none; 
    padding: 20px 110px; 
    border-radius: 30px; 
    cursor: pointer; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease; 
}

.submit-btn:hover {
    background-color: #333333; 
}

.logout-btn {
    margin-top: 10px;
    background-color: rgba(255, 0, 0); 
    color: white;   
    font-size: 14px; 
    font-weight: 600; 
    border: none; 
    padding: 20px 125px; 
    border-radius: 30px; 
    cursor: pointer; 
    text-transform: uppercase; 
    transition: background-color 0.3s ease; 
}

.logout-btn:hover {
    background-color: #333333; 
}

.input-container {
    display: flex;
    align-items: center;
    background: hsl(220, 37%, 8%);
    border-radius: 30px;
    padding: 8px 15px;
    height: 30px;
    border: 2px solid transparent; 
    margin-right: 10px;
    margin: 10px 0;
}

.profile-input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    color: white;
}

.profile-input::placeholder {
    color: white;
}
  
.input-container:focus-within {
    border-color: black;
}






/* СТИЛИ ДЛЯ БЛОКА ЗАКАЗОВ */

.order-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.order-card h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
}

/* Карточка одного заказа */
.order {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background: #f9f9f9;
}


.order-date {
    background: linear-gradient(90deg, #4CAF50, #2196F3);
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

/* Общая сумма */
.order-total {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/* Блок товаров */
.order-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.order-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.order-item-info {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-weight: bold;
    text-decoration: none;
    color: hsl(175, 38%, 19%);
}

.item-quantity {
    color: #555;
    font-size: 14px;
}

.item-total-price {
    font-size: 18px;
}

/* Если заказов нет */
.no-orders {
    background: linear-gradient(90deg, #4CAF50, #2196F3);
    color: white;
    width: 200px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    
    /* Центрирование по горизонтали */
    margin-left: auto;
    margin-right: auto;
}

/* Если корзина пуста */

.cart-clear{
    background: linear-gradient(90deg, #4CAF50, #2196F3);
    color: white;
    width: 200px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    
    /* Центрирование по горизонтали */
    margin-left: auto;
    margin-right: auto;

}


.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 15px; /* Округлые углы, как на изображении */
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #e0e0e0; /* Лёгкое затемнение при наведении */
}

.quantity-value {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}





/* СТИЛИ ДЛЯ СТРАНИЦЫ С ОФОРМЛЕНИЕМ ЗАКАЗА */

.order-card-page {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Увеличил ширину контейнера */
    max-width: 1100px; /* Ограничение максимальной ширины для удобства чтения */
    margin: auto; /* Центрирование контейнера */
}



.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-table th,
.order-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.order-table th {
    background-color: #f4f4f4;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}








.form-group-page {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}
.form-group-page label {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.order-form input,
.order-form select,
.order-form button {
    width: 97.5%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.order-form input:focus,
.order-form select:focus {
    border: 2px solid #2a9d8f;
    outline: none;
}

.order-form select {
    width: 100%; /* Увеличил ширину выпадающего списка */
}


.order-form button {
    background-color: #2a9d8f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.order-form button:hover {
    background-color: #21867a;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.order-card {
    animation: fadeIn 0.5s ease-in-out;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.cart-clear {
    color: #888;
    font-size: 1.2rem;
}

/* Стили для поля ввода адреса */
#id_address {
    margin-top: 5px;
    width: 98%; /* Растягиваем по горизонтали */
    border-radius: 5px; /* Закругленные края */
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

#id_address:focus {
    border-color: #21867a; /* Черный ободок при фокусе */
    outline: none;

}

.order-form textarea {
    resize: none;
}

/* Стили для адаптивности */
@media (max-width: 768px) {
    .order-table th, .order-table td {
        font-size: 0.9rem;
        padding: 8px;
    }

    .product-image {
        width: 40px;
        height: 40px;
    }

    .profile-title {
        font-size: 1.5rem;
    }
}

.order-card h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
}

/* Стили для блока корзины */
.cart-card {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-card h3 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

/* Карточка одного товара в корзине */
.order {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background: #f9f9f9;
}

/* Заголовок товара в корзине */
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
}

.order-total {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/* Блок товаров */
.order-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.order-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.order-item-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.item-price {
    font-size: 20px;
    font-weight: bold;
}

.item-quantity {
    color: #555;
    font-size: 18px;
}

/* Кнопка удаления товара */
/* .remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background: #cc0000;
} */

.remove-btn {
    margin-top: 20px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 20px 60px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #333333;
}

/* Если корзина пуста */
.cart-clear {
    background: linear-gradient(90deg, #4CAF50, #2196F3);
    color: white;
    width: 200px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Результаты заказа */
.result {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.result p strong {
    font-weight: 900;
    font-size: 24px;
}

.shop-now-button {
    background-color: #000000;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 20px 60px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.shop-now-button:hover {
    background-color: #333333;
}

.upload-button {
    display: inline-block;
    width: 100%;
    padding: 15px 0;    
    background-color: #4F46E5; 
    color: white;
    border: none;
    border-radius: 100px; 
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #4338CA;
}

.upload-input {
    display: none;
}

.avatar-notification {
    background: linear-gradient(90deg, hsl(175, 38%, 19%), hsl(175, 38%, 30%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: normal;

    margin-top: 10px; 
    font-size: 14px; 
    color: #333;
    font-weight: 600;
}