body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gotham Pro', Arial, sans-serif;
}

.header {
    background-color: #ffffff;
    padding: 40px 40px;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 5px;
}

.nav a:hover {
    color: #666666;
}

.search-container {
    display: flex;
    align-items: center;
    background: #eee;
    border-radius: 30px;
    padding: 8px 15px;
    width: 500px;
    height: 30px;
    border: 2px solid transparent; /* По умолчанию прозрачная граница */
    margin-right: 10px;
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    opacity: 0.6;
}

.search-input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    color: #555;
}

.search-input::placeholder {
    color: #aaa;
}

  /* Когда любой элемент внутри контейнера получает фокус */
.search-container:focus-within {
    border-color: black; /* Показываем чёрную границу */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    font-size: 30px;
    font-weight: bold;
    background-color: hsl(0, 0%, 94%);
    background-repeat: no-repeat;
    background-size: cover;       /* Изображение растягивается, сохраняя пропорции */
    background-position: center;  /* Центрируем изображение */
    height: 616px;  /* 100% от высоты экрана */
    width: 100vw;   /* 100% от ширины экрана */
    display: flex;              /* Для центрирования текста */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart {
    width: 40px;           /* Ширина контейнера корзины */
    height: 40px;          /* Высота контейнера корзины */
}

.cart img {
    max-width: 100%;       /* Изображение не выходит за пределы контейнера */
    max-height: 100%;  /* Убирает лишние пробелы вокруг изображения */
}

.profile {
    width: 30px;           /* Ширина контейнера корзины */
    height: 30px;          /* Высота контейнера корзины */
}

.profile img {
    max-width: 100%;       /* Изображение не выходит за пределы контейнера */
    max-height: 100%;  /* Убирает лишние пробелы вокруг изображения */
}

.down-arrow {
    color: #000000;
    position: relative;
    right: 0; 
    margin-top: 4px;
    width: 15px;           /* Ширина контейнера корзины */
    height: 15px;          /* Высота контейнера корзины */
}

.down-arrow img {
    max-width: 100%;       /* Изображение не выходит за пределы контейнера */
    max-height: 100%;  /* Убирает лишние пробелы вокруг изображения */
}




/* Стили для ссылок и иконок */
.icon-link {
    display: inline-block; /* Чтобы ссылки не растягивались */
}

/* Стили для SVG */
.icon-link svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    transition: fill 0.3s ease; /* Плавное изменение цвета */
}

/* Цвет при наведении */
.icon-link:hover svg path {
    fill: gray; /* Меняем цвет на серый */
}