{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/login.css" %}">
    <title>Вход в аккаунт</title>
</head>

<body>

    {% block notifications %}
        {% include "includes/notifications.html" %}
    {% endblock %}

    <div class="container">
        <video src="{% static "deps/videos/bg.mp4" %}" autoplay loop playsinline muted></video>


        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <h3>Войдите в аккаунт</h3>

            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username">

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password">

            <button class="login-button">Войти</button>
            <div class="social">
                <div class="go"><i class="fab fa-google"></i>  Google</div>
                <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
            </div>
            <a href="{% url 'users:registration' %}" class="reg-button">Зарегистрироваться</a>                       
        </form>
    
    </div>


</body>

</html>