{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'deps/css/registration.css' %}">
    <title>Регистрация</title>
</head>
<body>
    
    {% block notifications %}
        {% include "includes/notifications.html" %}
    {% endblock %}

    <div class="container">
        <video src="{% static 'deps/videos/bg.mp4' %}" autoplay loop playsinline muted></video>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <h3>Зарегистрируйтесь</h3>

            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" value="{{ form.username.value|default_if_none:'' }}">

            <label for="email">Почта</label>
            <input type="text" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}">

            <label for="password1">Пароль</label>
            <input type="password" id="password1" name="password1">

            <label for="password2">Повторный пароль</label>
            <input type="password" id="password2" name="password2">

            <!-- Кнопка отправки формы -->
            <button type="submit" class="reg-button">Зарегистрироваться</button>                       
        </form>

    </div>

</body>
</html>
