{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static "deps/css/test.css" %}">
    {% endblock css %}

    <!-- Favicons для разных платформ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "deps/favicon/android-chrome-192x192.png" %}">
    <link rel="icon" type="image/x-icon" sizes="48x48" href="{% static 'deps/favicon/favicon.ico' %}">

    <title>{{ title }}</title>
</head>
<body>
    {% block header %}
        {% include "includes/header.html" %}
    {% endblock %}

    {% block notifications %}
        {% include "includes/notifications.html" %}
    {% endblock %}

    {% block content %}

    {% endblock %}

</body>
</html>
