{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock  %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <div class="mt-10 pt-10 bg-white custom-shadow rounded px-6 py-8 container mx-auto mb-large">
        <h2 class="text-lg font-bold text-gray-800 mb-6">{{ content }}</h2>
        
        <p class="text-base text-gray-600 mb-6">
            EUROLUXE – это больше, чем интернет-магазин. Это пространство, где изысканный стиль, европейская утонченность
            и безупречное качество встречаются, чтобы воплотить в жизнь интерьер вашей мечты.
        </p>
        
        <p class="text-base text-gray-600 mb-6">
            Мы верим, что мебель – это не просто предметы интерьера, а отражение вашего характера и образа жизни. 
            Именно поэтому мы тщательно отбираем коллекции, предлагая только лучшее от ведущих европейских брендов.
        </p>
        
        <h3 class="text-lg font-semibold text-gray-800 mb-4">Почему выбирают EUROLUXE?</h3>
        
        <ul class="list-disc ml-8 text-base text-gray-600 mb-6">
            <li><strong>Премиальный дизайн.</strong> Современные тренды, классика или минимализм – у нас есть все для создания идеального пространства.</li>
            <li><strong>Безупречное качество.</strong> Каждая деталь в наших коллекциях продумана до мелочей, чтобы радовать вас годами.</li>
            <li><strong>Удобство онлайн-покупок.</strong> Простая навигация, подробные описания и качественные фото помогут вам легко сделать выбор.</li>
            <li><strong>Эксклюзивные предложения.</strong> Мы регулярно обновляем ассортимент, добавляя уникальные позиции, доступные только у нас.</li>
        </ul>
        
        <p class="text-base text-gray-600 mb-6">
            Создайте интерьер, который будет вдохновлять, очаровывать и приносить комфорт. Вы достойны лучшего – выберите EUROLUXE.
        </p>
        
        <p class="text-lg font-bold text-gray-800 mt-6">🌟 EUROLUXE – пространство для тех, кто ценит стиль и роскошь.</p>
        
        <p class="text-base text-gray-600 mb-6">
            Заходите в наш интернет-магазин, чтобы найти мебель, которая подчеркнет вашу индивидуальность и создаст гармонию в доме.
        </p>
    </div>
{% endblock content %}



{% block footer %}
    <footer class="py-3 bg-dark footr">
        <div class="container">
            <p class="m-0 text-center">
                <a href="https://github.com/Mayzer7" class="author text-decoration-none">
                    Copyright &copy; Корзунов А.E
                </a>
            </p>
        </div>
    </footer>
{% endblock %}

